@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,602;1,602&display=swap");

.menu {
  font-family: "Montserrat", sans-serif;
}

.menu:hover {
  color: #2a59fe;
}

.textMain {
  font-family: "Montserrat", sans-serif;
}
